DirectoryIndex interactive-map.html

<IfModule mod_rewrite.c>
RewriteEngine On
#remove html file extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [NC,L]

RedirectMatch 301 "^/ad/(.*)" "/ad#$1"
RedirectMatch 301 "^/dc/(.*)" "/dc#$1"
RedirectMatch 301 "^/ep/(.*)" "/ep#$1"
RedirectMatch 301 "^/cyro-neutral/(.*)" "/cyro-neutral#$1"
RedirectMatch 301 "^/dlc-chapter/(.*)" "/dlc-chapter#$1"

</IfModule>