/* svg  styles */

.map-container {
  position: relative;
  height: auto;
  display: inline-block;
  width: 100%;
  /* max-width: 810px */ /* (your max-width goes here) */
}
.map-tamriel {
  position: relative;
}
.map-tamriel-svg {
  position: absolute;
}
.map-tamriel,
.map-tamriel-svg {
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.map-container a:focus {
  border: none;
  outline: none;
}
.map-container polygon,
.map-container circle {
  stroke-width: 3;
  fill: transparent;
}
.map-container polygon.ad:hover,
.map-container circle.ad:hover {
  stroke: yellow;
  fill: rgba(255,255,0,0.5);
}
.map-container text tspan {
  font: italic 22px sans-serif;
}
.map-container text.ad {
  fill: yellow;
  font: italic 48px sans-serif;
}
.map-container polygon.ep:hover,
.map-container circle.ep:hover {
  stroke: red;
  fill: rgba(255,0,0,0.5);
}
.map-container text.ep {
  fill: red;
  font: italic 48px sans-serif;
}
.map-container polygon.dc:hover,
.map-container circle.dc:hover {
  stroke: blue;
  fill: rgba(0,0,255,0.5);
}
.map-container text.dc {
  fill: blue;
  font: italic 48px sans-serif;
}
.map-container polygon.dlc:hover,
.map-container circle.dlc:hover {
  stroke: deeppink ;
  fill: rgba(255,20,147,0.5)
}
.map-container text.dlc {
  fill: deeppink;
  font: italic 48px sans-serif;
}
.map-container polygon.cyrodiil:hover,
.map-container circle.cyrodiil:hover,
.map-container polygon.imperialcity:hover,
.map-container circle.imperialcity:hover {
  stroke: green;
  fill: rgba(0,128,0,0.5);
}
.map-container text.cyrodiil,
.map-container text.imperialcity {
  fill: green;
  font: italic 48px sans-serif;
}
.map-container polygon.craglorn:hover,
.map-container circle.craglorn:hover,
.map-container polygon.coldharbour:hover,
.map-container circle.coldharbour:hover {
  stroke: saddlebrown ;
  fill: rgba(139,69,19,0.5)
}
.map-container text.craglorn,
.map-container text.coldharbour {
  fill: saddlebrown;
  font: italic 48px sans-serif;
}

/* svg styles */

/* toco ... top-container
 * zoco ... zone-container
 * fh ..... fishing-hole
 */
 
* {
  font-family: Arial, Helvetica, sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(54, 57, 63);
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
}

/* some elements need to be transparent */
#fishing-map-container .toco,
#fishing-map-container .zoco,
#zoom-container,
#toggle-container-info,
#toggle-container-beautify,
#toggle-container-beautify *,
.zoom-button div a,
svg.map-tamriel-svg {
  background: transparent;  
}

#project-container,
#footer {
  margin: 0 auto;
}

#project-container,
#fishing-map-container,
#footer {
  position: relative;
  width: 100%;
}

#fishing-map-container .toco,
#fishing-map-container .zoco {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#fishing-map-container .toco {
  background-image: url(images/frame.png);
  background-size: 100%;
}

#fishing-map-container .zoco {
  background-image: url(images/watermark.png);
  background-size: 100%;
}

#image-container.overlay-zone {
  border: 1px solid white;
}

#footer {
  font-size: 65%;
  color: grey;
  text-align: justify;
}

.fishing-map-image {
  width: 100%;
  display: block;
}

.fh {
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  border-radius: 50%;
  position: absolute;
}

.fh.rare {
  z-index: 5;
}

.fh.rare:before {
  content: " ";
  width: 12px;
  height: 12px;
  margin-left: -3px !important;
  margin-top: -3px !important;
  display: block;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,1);
}

#overlay-zone .fh {
  background: rgba(255,255,255,0.15);
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
}

#fishing-map-container.plus #overlay-zone .fh {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

#fishing-map-container.pplus #overlay-zone .fh {
  width: 24px;
  height: 24px;
  margin-left: -12px;
  margin-top: -12px;
}

#fishing-map-container.minus #overlay-zone .fh {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
}

#fishing-map-container.mminus #overlay-zone .fh {
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
}

#fishing-map-container.mmminus #overlay-zone .fh {
  width: 4px;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
}

#overlay-zone .fh:hover,
#overlay-zone .fh:active,
#overlay-zone .fh.active {
  z-index: 1000;
}

#overlay-zone .foul:hover,
#overlay-zone .foul:active,
#overlay-zone .foul.active,
#overlay-zone .oily:hover,
#overlay-zone .oily:active,
#overlay-zone .oily.active {
  background-color: rgba(255,255,0,1);
}

#overlay-zone .river:hover,
#overlay-zone .river:active,
#overlay-zone .river.active {
  background-color: rgba(0,255,255,1);
}

#overlay-zone .saltwater:hover,
#overlay-zone .saltwater:active,
#overlay-zone .saltwater.active {
  background-color: rgba(0,0,255,1);
}

#overlay-zone .lake:hover,
#overlay-zone .lake:active,
#overlay-zone .lake.active {
  background-color: rgba(255,0,0,1);
}

#toggle-container-container .toggle-container-overlay {
  letter-spacing: -.8px;
}

#fishing-map-container.plus .fh {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
}

#fishing-map-container.plus .fh.rare:before {
  width: 14px;
  height: 14px;
}

#fishing-map-container.pplus .fh {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
}

#fishing-map-container.pplus .fh.rare:before {
  width: 16px;
  height: 16px;
}

#fishing-map-container.minus .fh {
  width: 6px;
  height: 6px;
  margin-left: -3px;
  margin-top: -3px;
}

#fishing-map-container.minus .fh.rare:before {
  width: 10px;
  height: 10px;
}

#fishing-map-container.mminus .fh {
  width: 4px;
  height: 4px;
  margin-left: -2px;
  margin-top: -2px;
}

#fishing-map-container.mminus .fh.rare:before {
  width: 8px;
  height: 8px;
}

#fishing-map-container.mmminus .fh {
  width: 2px;
  height: 2px;
  margin-left: -1px;
  margin-top: -1px;
}

#fishing-map-container.mmminus .fh.rare:before {
  width: 4px;
  height: 4px;
  margin-left: -2px !important;
  margin-top: -2px !important;
}

.foul,
.oily {
  background-color: rgba(255,255,0,1);
  color: black;
}

.foul:hover,
.foul:active,
.foul.active,
.oily:hover,
.oily:active,
.oily.active {
  background-color: rgba(255,255,0,.6);
}

.river {
  background-color: rgba(0,255,255,1);
  color: black;
}

.river:hover,
.river:active,
.river.active {
  background-color: rgba(0,255,255,.6);
}

.saltwater {
  background-color: rgba(0,0,255,1);
  color: white;
}

.saltwater:hover,
.saltwater:active,
.saltwater.active {
  background-color: rgba(0,0,255,.6);
}

.lake {
  background-color: rgba(255,0,0,1);
  color: white;
}

.lake:hover,
.lake:active,
.lake.active {
  background-color: rgba(255,0,0,.6);
}

.type-button.active {
  text-decoration: line-through;
}

.zone-button {
  background-color: rgba(226,204,145,1);
  padding: 0 !important;
}

.zone-button:hover,
.zone-button:active,
.zone-button.active {
  background-color: rgba(226,204,145,.6);
}

.zone-button a {
  background-color: transparent;
  text-decoration: none;
  color: black;
  display: block;
  padding: 5px;
}

.fh:hover,
.fh:active,
.fh.active {
  cursor: pointer;
}

.fh:hover:after {
  position: absolute;
  top: -30px;
  left: 8px;
  border: 2px solid;
  border-radius: 3px;
  padding: 3px;
  white-space: nowrap;
  z-index: 100;
}

.fh.mel:hover:after {
  white-space: normal !important;
  min-width: 200px;
}

.fh.foul:hover:after {
  content: "Foul (" attr(daco) ")";
  border-color: rgb(255,255,0);
  background-color: rgba(255,255,0,.75);
}

.fh.foul:before {
  border-color: rgba(255,255,0,.75);
}

.fh.oily:hover:after {
  content: "Oily (" attr(daco) ")";
  border-color: rgb(255,255,0);
  background-color: rgba(255,255,0,.75);
}

.fh.oily:before {
  border-color: rgba(255,255,0,.75);
}

.fh.river:hover:after {
  content: "River (" attr(daco) ")";
  border-color: rgb(0,255,255);
  background-color: rgba(0,255,255,.75);
}

.fh.river:before {
  border-color: rgba(0,255,255,.75);
}

.fh.saltwater:hover:after {
  content: "Saltwater (" attr(daco) ")";
  border-color: rgb(0,0,255);
  background-color: rgba(0,0,255,.75);
}

.fh.saltwater:before {
  border-color: rgba(0,0,255,.75);
}

.fh.lake:hover:after {
  content: "Lake (" attr(daco) ")";
  border-color: rgb(255,0,0);
  background-color: rgba(255,0,0,.75);
}

.fh.lake:before {
  border-color: rgba(255,0,0,.75);
}

/* special thanks */

#cyrodiil .fh.lake[daco|="64.47%, 80.02%"]:hover:after {
  content: "Lake (" attr(daco) ")\00000a-----\00000aI want to dedicate this special\00000afishing hole to the one and only\00000aChancellor. May it and all brave\00000afishermen and women who died\00000ain the attempt to master it serve\00000aas a monument to her!";
  max-width: 230px;
  white-space: pre;
}

#cyrodiil .fh.foul[daco|="16.65%, 39.96%"]:hover:after {
  content: "Lake (" attr(daco) ")\00000a-----\00000aThis fishing hole is dedicated to\00000aAngryDragonLady for sharing\00000athe discovery with us.\00000aThank you!";
  max-width: 230px;
  white-space: pre;
}

.coming-soon {
  position: absolute;
  left: 15%;
  top: 45%;
  border-color: rgb(255,0,0);
  background-color: rgba(255,0,0,.75);
  padding: 20px;
  font-size: large;
  display: block;
}

/* fishing hook icons */

.beautiful .fh {
  width: 16px;
  height: 16px;
  margin-left: -8px;
  margin-top: -8px;
}

.beautiful .fh.rare:before {
  content: " ";
  width: 12px;
  height: 12px;
  margin-left: -3px !important;
  margin-top: -3px !important;
  display: none;
  border-radius: 50%;
  border: none;
}

.beautiful #fishing-map-container.plus .fh {
  width: 18px;
  height: 18px;
  margin-left: -9px;
  margin-top: -9px;
}

.beautiful #fishing-map-container.pplus .fh {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  margin-top: -10px;
}

.beautiful #fishing-map-container.minus .fh {
  width: 14px;
  height: 14px;
  margin-left: -7px;
  margin-top: -7px;
}

.beautiful #fishing-map-container.mminus .fh {
  width: 12px;
  height: 12px;
  margin-left: -6px;
  margin-top: -6px;
}

.beautiful #fishing-map-container.mmminus .fh {
  width: 10px;
  height: 10px;
  margin-left: -5px;
  margin-top: -5px;
}

.beautiful .fh,
.beautiful #overlay-zone .fh {
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
}

.beautiful .fh.foul,
.beautiful .fh.oily,
.beautiful #overlay-zone .fh.foul,
.beautiful #overlay-zone .fh.oily {
  background-image: url(images/foul.png);
}

.beautiful .fh.river,
.beautiful #overlay-zone .fh.river {
  background-image: url(images/river.png);
}

.beautiful .fh.saltwater,
.beautiful #overlay-zone .fh.saltwater {
  background-image: url(images/saltwater.png);
}

.beautiful .fh.lake,
.beautiful #overlay-zone .fh.lake {
  background-image: url(images/lake.png);
}

/* fishing hook icons */

/* linked zones */

#fishing-map-container .link-zone {
  border-radius: 50%;
  position: absolute;
  background-color: transparent;
  z-index: 1000;
}

#fishing-map-container .link-zone.blackreach-greymoor {
  left: 71.49% !important;
  top: 18.76% !important;
  width: 9.38% !important;
  height: 9.38% !important;
  margin-left: -4.69% !important;
  margin-top: -4.69% !important;
}

#fishing-map-container .link-zone.westernskyrim {
  left: 83.40% !important;
  top: 13.86% !important;
  width: 12.8% !important;
  height: 12.8% !important;
  margin-left: -6.4% !important;
  margin-top: -6.4% !important;
}

#fishing-map-container .link-zone.blackreach-mzark {
  left: 78.64% !important;
  top: 31.84% !important;
  width: 9.38% !important;
  height: 9.38% !important;
  margin-left: -4.69% !important;
  margin-top: -4.69% !important;
}

#fishing-map-container .link-zone.eastmarch {
  left: 40.60% !important;
  top: 86.10% !important;
  width: 16.6% !important;
  height: 16.6% !important;
  margin-left: -8.3% !important;
  margin-top: -8.3% !important;
}

#fishing-map-container .link-zone.thereach {
  left: 75.20% !important;
  top: 18.80% !important;
  width: 13.4% !important;
  height: 13.4% !important;
  margin-left: -6.7% !important;
  margin-top: -6.7% !important;
}

#fishing-map-container .link-zone.blackreach-arkthzand {
  left: 82.10% !important;
  top: 36.20% !important;
  width: 11% !important;
  height: 11% !important;
  margin-left: -5.5% !important;
  margin-top: -5.5% !important;
}

#fishing-map-container .link-zone.deadlands-fargrave {
  left: 21.50% !important;
  top: 16.60% !important;
  width: 9.2% !important;
  height: 9.2% !important;
  margin-left: -6.7% !important;
  margin-top: -6.7% !important;
}

#fishing-map-container .link-zone.deadlands {
  left: 26.30% !important;
  top: 23.70% !important;
  width: 9.2% !important;
  height: 9.2% !important;
  margin-left: -6.7% !important;
  margin-top: -6.7% !important;
}

#fishing-map-container .link-zone:hover {
  border: 3px solid deeppink;
  background-color: rgba(255,20,147,0.5);
}

#fishing-map-container .link-zone:hover:after {
  color: deeppink;
  border: none;
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  font-size: 110%;
  line-height: 150%;
  width: 150%;
  display: block;
}

#fishing-map-container .link-zone.blackreach-greymoor:hover:after {
  content: "Greymoor Cavern";
}

#fishing-map-container .link-zone.westernskyrim:hover:after {
  content: "Western Skyrim";
}

#fishing-map-container .link-zone.blackreach-mzark:hover:after {
  content: "Mzark Cavern";
}

#fishing-map-container .link-zone.eastmarch:hover:after {
  content: "Eastmarch";
}

#fishing-map-container .link-zone.thereach:hover:after {
  content: "The Reach";
}

#fishing-map-container .link-zone.blackreach-arkthzand:hover:after {
  content: "Arkthzand Cavern";
}

#fishing-map-container .link-zone.deadlands-fargrave:hover:after {
  content: "Fargrave";
}

#fishing-map-container .link-zone.deadlands:hover:after {
  content: "Deadlands";
}

#fishing-map-container .link-zone a {
  display: block;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* linked zones */

#info-container .close {
  content: "X";
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  background-color: white;
}

.info-element,
.info-element b {
  background-color: white;
}

.info-element {
  position: absolute;
  left: 50%;
  top: 262px;
  width: 80%;
  margin-left: -43%;
  padding: 3%;
  text-align: center;
  z-index: 1005;
}

.info-element > p {
  margin: 0;
  padding-bottom: 10px;
  background-color: transparent;
}

.info-element.overlay-zone > p {
  padding-bottom: 0;
}

.info-element .fish span {
  font-weight: bold;
}

.info-element .fish .fish-green {
  color: green;
}

.info-element .fish .fish-blue {
  color: blue;
}

.info-element .fish .fish-purple {
  color: purple;
}

div#rare-fish-container {
  display: flex;
  background-color: white;
}

div.rare-fish {
  background-color: white;
  margin: 0 auto;
}

div.rare-fish.full {
  width: 100%;
}

div.rare-fish.dyn {
  width: initial;
}

div.rare-fish em {
  background-color: white;
  color: red;
  font-weight: bold;
}

div.rare-fish div.col {
  float: left;
  min-height: 50px;
  min-width: 50px;
  background-color: white;
}

div.rare-fish div.col-1 {
  width: 100%;
}

div.rare-fish div.col-3 {
  width: 33.33333333333333333333%;
}

div.rare-fish div.col-4 {
  width: 25%;
}

div.rare-fish div.col-5 {
  width: 20%;
}

div.rare-fish div.col div.cell {
  display: table;
  width: 100%;
  border-collapse: collapse;
}

div.rare-fish div.col div.cell.head {
  text-transform: capitalize;
}

div.rare-fish div.col div.cell.head div.inner {
  padding: 5px;
}

div.rare-fish div.col div.cell.fish {
  background-color: white;
  margin: 0;
  letter-spacing: -.5px;
}

div.rare-fish div.col div.cell.fish div.inner {
  height: 2.5em;
}

div.rare-fish div.col div.cell div.inner {
  display: table-cell;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid black;
  border-bottom: none;
  padding-left: 5px;
  padding-right: 5px;
}

div.rare-fish div.col div.cell:last-of-type div.inner {
  border-bottom: 1px solid black;
}

div.rare-fish div.col div.cell.green {
  color: rgba(45,197,14,1);
}

div.rare-fish div.col div.cell.blue {
  color: rgba(58,146,255,1);
}

div.rare-fish div.col div.cell.purple {
  color: rgba(160,45,247,1);
}

#toggle-container-type,
#toggle-container-zone-1,
#toggle-container-zone-2,
#toggle-container-zone-3,
#toggle-container-zone-4 {
  display: flex;
}

.toggle-button {
  text-align: center;
  cursor: pointer;
  text-transform: capitalize;
}

.col-1 .toggle-button {
  width: 100%;
}

.col-2 .toggle-button {
  width: 50%;
}

.col-3 .toggle-button {
  width: 33.33%;
}

.col-4 .toggle-button {
  width: 25%;
}

.col-5 .toggle-button {
  width: 20%;
}

.toggle-button div {
  padding: 5px;
  border: 3px solid rgba(0,0,0,.5);
  border-top-color: rgba(0,0,0,.2);
  border-right-color: rgba(0,0,0,.2);
}

#toggle-container-info {
  position: absolute;
  left: 50%;
  top: 0;
  margin: 20px;
  margin-left: 178px;
}

#toggle-container-info .button {
  float: right;
  margin-left: 20px;
}

#zoom-container {
  position: absolute;
  right: 50%;
  top: 0;
  margin: 20px;
  margin-right: 178px;
}

#zoom-container .button {
  float: left;
  margin-right: 20px;
}

#toggle-container-beautify {
  position: absolute;
  left: 10px;
  bottom: 14px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
}

#toggle-container-beautify .button,
#toggle-container-beautify .button * {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#toggle-container-beautify .beautify-button #bb-hook {
  background-size: 100%;
  background-image: url(images/beautify-inactive.png);
}

#toggle-container-beautify .beautify-button #bb-hook:hover,
#toggle-container-beautify .beautify-button #bb-hook:active,
#toggle-container-beautify .beautify-button #bb-hook.active {
  background-image: url(images/beautify-active.png);
}

.zoom-button,
.info-button {
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
}

.zoom-button div,
.info-button div {
  width: 38px;
  height: 38px;
  line-height: 38px;
  border: 3px solid rgba(0,0,0,.5);
  border-top-color: rgba(0,0,0,.2);
  border-right-color: rgba(0,0,0,.2);
  background-color: rgba(215,204,200,1);
  font-family: Consolas, monospace;
  font-size: 200%;
}

.zoom-button div a,
.info-button div a {
  font-size: 100%;
}

.zoom-button div {
  line-height: 35px;
}

.zoom-button div a {
  text-decoration: none;
  color: black !important;
  display: block;
  width: 100%;
  height: 100%;
}

.zoom-button div:hover,
.zoom-button div:active,
.info-button div:hover,
.info-button div:active {
  background-color: rgba(215,204,200,.6);
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Printing styles */
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  
  * {
    background-color: white;
  }

  #fishing-map-container .zoco { /* watermark + legend on printouts */
    background-image: url(images/legend.png);
  }
}

/* ************* */
/* media queries */
/* ************* */

/* small screens */
@media only screen and (max-device-width: 767px) {
  * {
    font-size: 85%;
  }
  
  #zoom-container,
  #toggle-container-info {
    margin: 10px;
    position: absolute;
  }
  
  #zoom-container {
    left: 0;
    right: initial;
  }

  #toggle-container-info {
    right: 0;
    left: initial;
  }

  #toggle-container-beautify {
    left: 4px;
    bottom: 8px;
  }
  
  .zoom-width {
    max-width: 100%  !important;
  }
  
  .zoom-height {
    max-height: 100% !important;
  }
  
  .type-button,
  .zone-button {
    font-size: 150%;
  }
  
  #toggle-container-info .button,
  #zoom-container .button  {
    float: none;
  }
  
  .zoom-button,
  .info-button {
    margin-bottom: 10px;
  }
  
  .info-button div,
  .zoom-button div {
    font-size: 300%;
    width: 25px;
    height: 25px;
    line-height: 25px;
  }
  
  .toggle-button div,
  .info-button div,
  .zoom-button div {
    border-width: 2px;
  }
  
  .toggle-button div,
  .toggle-button .zone-button a  {
    padding-left: 1px;
    padding-right: 1px;
  }
  
  .fh {
    transform: scale(.6); 
  }

  .info-element {
    top: 125px;
    width: 88%;
    padding: 3%;
    margin: 0;
    margin-left: -47%;
    font-size:130%;
  }
  
  .info-element > p {
    padding-bottom: 3px;
  }
  
  div.rare-fish,
  div.rare-fish * {
    font-size: 100%;  
  }
  
  div.rare-fish div.col div.cell div.inner {
    padding-left: 3px;
    padding-right: 3px;
  }
  
  div.rare-fish div.col div.cell.fish div.inner {
    height: 2.6em;
  }
}

/* iPad portrait orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) { 
  .zoom-width {
    max-width: 100%  !important;
  }
  
  .zoom-height {
    max-height: 100% !important;
  }
  
  .info-button div,
  .zoom-button div {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 250%;
  }
  
  #zoom-container,
  #toggle-container-info {
    position: absolute;
  }

  #zoom-container {
    left: 0;
    right: initial;
  }

  #toggle-container-info {
    right: 0;
    left: initial;
  }

  #toggle-container-info .button,
  #zoom-container .button  {
    float: none;
    margin-bottom: 30px;
  }

  .info-element {
    top: 302px; 
  }

  .toggle-button div,
  .toggle-button .zone-button a  {
    padding-left: 2px;
    padding-right: 2px;
  }
}

/* iPad landscape orientation */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .info-button div,
  .zoom-button div {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 250%;
  }

  #zoom-container,
  #toggle-container-info {
   position: absolute;
  }

  #zoom-container {
    left: 0;
    right: initial;
  }

  #toggle-container-info {
    right: 0;
    left: initial;
  }

  #toggle-container-info .button,
  #zoom-container .button  {
    float: none;
    margin-bottom: 30px;
  }
  
  .info-element {
    top: 302px; 
  }

  .toggle-button div,
  .toggle-button .zone-button a  {
    padding-left: 1px;
    padding-right: 1px;
  }
}

/* large screens */
@media screen and (min-width: 2000px) {
  #toggle-container-container *,
  #info-container *,
  #toggle-container-info *,
  #zoom-container * {
    font-size: 25px;
  }

  .zoom-button div,
  .info-button div {
    font-size: 200% !important;
  }
  
  #toggle-container-info,
  #zoom-container {
    margin: 50px;
  }
  
  .zoom-button,
  .info-button {
    margin-bottom: 50px;
  }
  
  #zoom-container .button {
    margin-right: 50px;
  }
  
  #toggle-container-info .button {
    margin-left: 50px;
  }
  
  .zoom-button div,
  .info-button div {
    width: 80px;
    height: 80px;
    line-height: 80px;
  }

}